<%- include('../partials/header') %>

<% if(cohort) { %>
<% for (let value of cohort) {%>
<div class="card" style=" margin: 15px 120px 10px 120px;">
    <div class="card-body container">
        <img class="rounded-circle" src="<%= value.logo_url %>" width="50" height="50">
        <span class="card-title" style="font-size:20px;font-weight: bold;"><%= value.name %></span>
        <p class="card-text"><%= value.members %></p>
        <div>
            <a  class= "btn btn-primary" href="/cohort/<%= value.id %>" >Show cohort</a>
        </div>
    </div>
</div>
<% } %>
<% } %>

<%- include('../partials/footer') %>